img {
    width: 100%;
}

header {
    width: 100%;
}
.ms_icon-size {
    font-size: 1.5rem;
}

.banner-content {
    height: 650px;
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
}

.banner .options .img-container {
    border-radius: 20px;
}