/* COMMON */
img {
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

/* UTILITY */
.ms_icon-size {
    font-size: 1.5rem;
}

.bg-returnal {
    background-image: url(../img/jumbo-bg.png);
}

.bg-it2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.ms_pointed::before {
    content: "•";
    padding-right: 8px;
    color: blue;
}

.ms_border-radius {
    border-radius: 20px;
}

.active::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background-color: #0d6efd;
}

.ms_btn {
    background-color: #d9dadc;
} 

/* HEADER */
header {
    width: 100%;
}

header a {
    color: inherit;
}

header .dropdown-toggle::after {
    display: none;
}

header .dropdown-chevron {
    position: absolute;
    top: 20%;
    right: 0;
    width: 10px;
}

header .nav-item:hover .colored-chevron {
    display: inline!important;
}

header .nav-item:hover .default-chevron {
    display: none;
}

header .dropdown-menu {
    width: 95vw;
}

#navbarDropdownMyPs+.dropdown-menu {
    width: auto;
}

header .btn:focus {
    box-shadow: none;
}

/* BANNER */
.banner {
    padding-top: 114px;
}

.banner-content {
    height: 650px;
    background-position: center;
}

.bg-returnal .img-container {
    min-width: 230px;
}

/* PS-PLUS-SECTION */
section.playstation-plus {
    background-color: #bebcbb;
}

/* PS-NOW-SECTION */
.ps-now {
    background-color: #161c3b;
}

/* FOOTER */
footer {
    background-color: #00439c;
}

footer .logo-container {
    width: 200px;
}

footer a,
footer a:hover  {
    color: inherit;
}

footer a:hover {
    text-decoration: underline;
}

footer .reverse-hover {
    text-decoration: underline;
}

footer .reverse-hover:hover {
    color: #0d6efd;
    text-decoration: none;
}

/* MEDIA QUERIES */
@media all and (min-width: 992px) {
    header .dropdown-menu,
    #navbarDropdownMyPs+.dropdown-menu {
        width: 40vw;
    }

    #navbarDropdownMyPs+.dropdown-menu[data-bs-popper] {
        position: absolute;
        top: 100%;
        left: auto;
        right: 0;
    }
}